<ion-view view-title="Login">
  <ion-content>
    <div class="list list-inset">
    	<div class="login-form">
		  <label class="item item-input">
		    <input type="text" placeholder="First Name" ng-model="loginDetails.username" />
		  </label>
		  <label class="item item-input">
		    <input type="password" placeholder="Last Name" ng-model="loginDetails.password" />
		  </label>
		   <button ng-click="doLogin(loginDetails)" class="button button-positive login-button">SUBMIT</button>
		</div>
	</div>
  </ion-content>
</ion-view> 