
<ion-view view-title="Profile">
  <ion-content>
  	<div class="list card">

	  <div class="item item-avatar">
	    <img src="https://trello-avatars.s3.amazonaws.com/e74c51987dc0b12672c2bb341c5cb520/170.png">
	    <h2 class="positive">Marty McFly</h2>
	    <a href="#">marty.mcfly@dummy.com</a>	    
	  </div>

	  <div class="item item-body">	  	
	    <p>
	    	<span><strong>DESCRIPTION</strong></span><br/>
	    	Times are tough... but I'm tougher.
	    </p>
	    <p>
	    	<span><strong>ORGANIZATION</strong></span><br/>
	    	TBA
	    </p>
	    <p>
	    	<span><strong>LOCATION</strong></span><br/>
	    	Manila, PH
	    </p>
	    <button class="button-small button-stable">
  			EDIT PROFILE
		</button>
	  </div>

	</div>
  </ion-content>
</ion-view>