
<ion-view view-title="Tasks">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="task in tasks">
        <div class="card card-list" ng-click="viewTask(task)">
		  <div class="item item-text-wrap">
		   	<h2 class="positive">{{ task.title }}</h2>
		   	<p>{{ task.description }}</p>
		   	<div class="item-bottom">		   		
	  			<a href="#" class="ion-chatbubbles chatbubbles energized"></a>	  			
	  			<a href="#" class="ion-checkmark-circled balanced"></a>
	  			<a href="#" class="ion-alert assertive"></a>
	  			<a href="#" class="ion-arrow-right-c"></a>	  			
	  			<span class="calm">
		   			<strong>P800.00</strong>    			
	  			</span>
		   	</div>
		  </div>
		</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>